#error-page-container{
  height: 100vh;
}

#error-page-button{
  background-color: #64A4CE;
  border-color: #0F558F;
  color: #B7D7EA;
}

#error-page-button:hover{
  background-color: #0F558F;
  color: #E2EFF6;
  border-color: #64A4CE;
}