#progress {
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 10%;
  fill: none;
}

.bg {
  stroke:#4893C6;
  opacity: 0.3;
}

#progress .indicator {
  stroke: #1965A0;
}

#projects-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 40rem;
  overflow-x: scroll;
  flex: 0 0 40rem;
  border-style: solid;
  background-color: #8dbedcc2;
}

#projects-list::-webkit-scrollbar {
  height: .45rem;
  width: .45rem;
  background:#B7D7EA;
  -webkit-border-radius: 1ex;
}

#projects-list::-webkit-scrollbar-thumb {
  background:#1965a0cb;
  -webkit-border-radius: 2ex;
}

::-webkit-scrollbar-corner {
  background:transparent;
}

#projects-list-item{
  flex: 0 0 25rem;
  background: transparent;
  border-style: none;
}

#projects-list-item:last-of-type, #projects-list:first-of-type{
  margin: 0;
}

#project-cards{
  background-color: #003a70ee;
  color: #E2EFF6;
  border-width: .19rem;
  border-color: #1965A0;

}

#card-img{
  border-style:solid;
  border-color: black;
  border-width: .19rem;
}


#card-img:hover {
  position:relative;
  top: 3rem;
  bottom: 3rem;
  border-width: 0.10rem;
  transform: scale(1.50);
  z-index: 4;
}

#projects-list-item:first-of-type #card-img:hover{
  margin-left: 3.7rem;
}

#projects-list-item:last-of-type #card-img:hover{
  right: 3.7rem;
}



#projects-card-body{
  display: flex;
  flex-direction: column;
}

#project-bttns{
  background-color: #64A4CE;
  border-color: #0F558F;
  color: #0F558F;
}

#project-bttns:hover{
  background-color: #0F558F;
  color: #E2EFF6;
  border-color: #64A4CE;

}

@media (max-width:766px) {
  #projects-list-item:first-of-type #card-img:hover{
    margin-left: 0rem;
  }
  
  #projects-list-item:last-of-type #card-img:hover{
    right: 0rem;
  }
}

@media (max-width:575.5px) {
  #card-img:hover {
    transform: scale(1.10);
  }
}

@media (max-width: 435px){
  #project-cards{
    width: 320px;
    height: auto;
  }

  #projects-list{
    height: 36rem;
  }

  #card-img:hover {
    transform: scale(1.10);
  }

  #projects-list-item:first-of-type #card-img:hover{
    margin-left: 0rem;
  }
  
  #projects-list-item:last-of-type #card-img:hover{
    right: 0rem;
  }
}

@media (max-width: 400px){
  #project-cards{
    width: 290px;
    height: auto;
  }

  #projects-list{
    height: 33rem;
  }

  #projects-list-item:first-of-type #card-img:hover{
    margin-left: 0rem;
  }
  
  #projects-list-item:last-of-type #card-img:hover{
    right: 0rem;
  }
  
}

@media (max-width: 330px){
  #project-cards{
    width: 240px;
    height: auto;
  }

  #projects-list{
    height: 32.5rem;
  }
  
}