#about-me-section{
  display: flex;
  flex-direction: column;
  position: inherit;
}

#about-me-section h3{
  color: #1965A0;
}

#about-me-section h4{
  color:  #1965A0e7;
  text-shadow: none;
}

#about-me-edu-container p, #about-me-xp-container p{
  color: #1965A0a7;
  text-shadow: none;
}

#about-me-col-xp,#about-me-col-edu{
  border-style:solid;
  border-color: #64A4CE;
}