#home-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#header-bttns {
  background-color: #1965a0;
  border-color: #0F558F;
  color: #B7D7EA;
}

#header-links {
  text-shadow: none;
  color: #0F558F;
  animation: pulse 3s infinite;
}

#header-bttns:hover {
  background-color: #0F558F;
  color: #E2EFF6;
  border-color: #64A4CE;
}

@keyframes pulse {
  0%, 100% {
    color: #64A4CE;
  }
  50% {
    color: #1965A0;
  }
}

.swirl-border {
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.swirl-border::before {
  content: '';
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  border-radius: 50%;
  background: linear-gradient(45deg, #4893C6, #64A4CE, #B7D7EA, #4893C6);
  background-size: 100% 100%;
  animation: swirl 5s linear infinite, glow 2s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes swirl {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0.2rem #4893C6, 0 0 0.4rem #64A4CE, 0 0 0.8rem #B7D7EA;
  }
  100% {
    box-shadow: 0 0 0.4rem #4893C6, 0 0 0.8rem #64A4CE, 0 0 1rem #B7D7EA;
  }
}


@media (max-width: 380px) {
  #home-header {
    display: contents;
    height: fit-content;
    flex-direction: column !important;
    align-items: center !important;
  }

  #profile-picture-container {
    max-width: 300px !important;
  }

  #home-header-wrapper {
    text-align: center !important;
  }

  #header-bttns {
    width: 100% !important; 
    margin-bottom: 10px !important;
  }
}