#work-together-bttn{
  background-color: #64A4CE;
  border-color: #0F558F;
  color: #B7D7EA;
}

#contact-me-links-bg-container{
  background-color: #64A4CE;
}

#work-together-bttn:hover{
  background-color: #0F558F;
  color: #E2EFF6;
  border-color: #64A4CE;
}

#contact-me-links{
  color: #1965A0;
}

#contact-me-links:hover{
  color:#003A70;
}